:root {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

#title-div {
  position: absolute;
  top: 0%;
  left: 20%; 
  background-color: black;
  color: white;
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 2rem;
}

#main-container {
  position: absolute;
  top: 10%;
  left: 20%;
  background-color: black;
  width: 80%;
  height: 90%;
  margin: 0;
  padding: 0;
}

.navbar {
  top: 0%;
  left: 0%;
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: rgb(19, 19, 19);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  padding-top: 0.25rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#theta-value-container {
  color: white;
}


